.pioenvs
.piolibdeps
/external/unity/*-repo/
/external/fakeit/*-repo/
/build/
/.cproject
/.project
**/CMakeFiles/*
**/CMakeCache.txt
**/*.cmake
**/Makefile
!/Makefile
/Testing/*
.pio/*
.vscode/*
/test/test_main.cpp
output.txt
error.txt